body {
  background-color: #242429;
  color: white;
  font-family: "MinecraftStandard", sans-serif;

  height: 100vh;
  margin: 0;
  padding: 0;

  overflow: hidden;
  overscroll-behavior: none;
}

@font-face {
  font-family: MinecraftStandard;
  src: url("../fonts/MinecraftStandard.otf");
}

.navbar {
  background-color: #1b1b1f;
  padding: 1rem 0;

  top: 0;
  width: 100vw;
  height: 3rem;
  
  position: fixed;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 75vw;
  margin: 0 auto;
}

.nav-link {
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 0;

  margin-top: 2rem;
  padding: 0;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  
  width: 100%;
  max-width: 75vw;
  margin: 0;
}

.links img {
  width: 7rem;
  max-width: 100%;
  height: auto;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 2rem;
}