body {
  background-color: #242429;
  color: white;
  font-family: "MinecraftStandard", sans-serif;
  /* font-family: "VHSGothic", sans-serif; */
  /* font-family: "SHPincher", sans-serif; */
  /* font-family: "DotGothic16", sans-serif; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  margin: 0;
  padding: 0;

  overflow: hidden;
  overscroll-behavior: none;
}

@font-face {
  font-family: SHPincher;
  src: url("../fonts/SHPinscher-Regular.otf");
}

@font-face {
  font-family: VHSGothic;
  src: url("../fonts/vhs-gothic.ttf");
}

@font-face {
  font-family: MinecraftStandard;
  src: url("../fonts/MinecraftStandard.otf");
}

.home {
  text-align: center;
  display: block;
}

.name {
  font-size: 2.5rem;
  margin: 0;
}

.blurb {
  font-size: 1rem;
  font-style: italic;
}

.subpage-links {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.subpage-link {
  display: block;
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
}

.selected-hover::before {
  content: "";
  display: inline-block;
  width: 0;
  transition: width 0.2s;
}

.selected-hover:hover::before {
  content: "\00BB";
  margin-right: 0.5rem;
  width: auto;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 2rem;
}

.typed-out {
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid rgb(185, 185, 185);
  animation: 
    typing 3s steps(46, end) forwards,
    blink 1s step-end infinite 3s;
  width: 0;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  0%, 100% { border-color: transparent }
  50% { border-color: rgb(185, 185, 185); }
}