body {
  background-color: #242429;
  color: white;
  font-family: "MinecraftStandard", sans-serif;

  height: 100vh;
  margin: 0;
  padding: 0;

  overflow: hidden;
  overscroll-behavior: none;
}

@font-face {
  font-family: MinecraftStandard;
  src: url("../fonts/MinecraftStandard.otf");
}

@font-face {
  font-family: MinecraftStandardBold;
  src: url("../fonts/MinecraftStandardBold.otf");
}

.navbar {
  background-color: #1b1b1f;
  padding: 1rem 0;

  top: 0;
  width: 100vw;
  height: 3rem;

  position: fixed;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 75vw;
  margin: 0 auto;
}

.nav-link {
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
}

.selected-hover::before {
  content: "";
  display: inline-block;
  width: 0;
  transition: width 0.2s;
}

.selected-hover:hover::before {
  content: "\00BB";
  margin-right: 0.5rem;
  width: auto;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 0;

  margin-top: 2rem;
  padding: 0;
}

.topic-wrapper {
  display: flex;
  flex: 1;
  justify-content: right;

  width: 60%;
  margin: 2%;
}

.topic-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: end;

  width: 24%;
}

.topic-description {
  width: 76%;
}

.topic {
  position: relative;

  font-family: MinecraftStandardBold;
  color: white;
  text-align: right;

  border: none;
  background-color: inherit;
  display: inline;
  width: fit-content;
  padding: 0;

  cursor: pointer;

  margin: 5% 20% 5% 0%;
}

.topic::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.25em;
  height: 4px;
  width: 0;
  background: white;
  transform-origin: left center;
}

@keyframes slide-in {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes shake {
  0%   { transform: translateX(0); }
  20%  { transform: translateX(-2px); }
  40%  { transform: translateX(2px); }
  60%  { transform: translateX(-1px); }
  80%  { transform: translateX(1px); }
  100% { transform: translateX(0); }
}

.topic.active::after {
  animation: slide-in 0.3s ease-out forwards;
}

.shake {
  font-size: 20px;
  display: inline-block;
}

.shake:hover {
  animation: shake 0.3s infinite;
}

.hidden {
  display: none;
}

.title {
  font-family: MinecraftStandardBold;
}

.hobbies-description {
  margin-top: 0.5em;
  margin-bottom: 2.5em;
}

.redacted {
  background-color: white;
  color: white;
}

.image-right {
  float: right;
  width: 25%;

  margin-top: 1.5rem;
  margin-left: 1rem;
}

.image-left {
  float: left;
  width: 25%;

  margin-top: 1.5rem;
  margin-right: 1rem;
}

.image-icon {
  border-radius: 50%;
  width: 23%;
  display: inline;
  margin: 0 1rem 0 0 ;
}

footer {
  font-size: 1rem;
  position: relative;
  bottom: 2rem;
  margin-top: 6rem;
}