body {
  background-color: #242429;
  color: white;
  font-family: "MinecraftStandard", sans-serif;

  height: 100vh;
  margin: 0;
  padding: 0;

  overflow: hidden;
  overscroll-behavior: none;
}

@font-face {
  font-family: MinecraftStandard;
  src: url("../fonts/MinecraftStandard.otf");
}

.navbar {
  background-color: #1b1b1f;
  padding: 1rem 0;

  top: 0;
  width: 100vw;
  height: 3rem;
  
  position: fixed;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 75vw;
  margin: 0 auto;
}

.nav-link {
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 0;

  margin-top: 2rem;
  padding: 0;
}

/* .page::-webkit-scrollbar {
  width: 100px;
} */

.project {
  width: 60%;
  margin: 2%;
}

.image-right {
  float: right;
  width: 25%;

  margin-top: 1.5rem;
  margin-left: 1rem;
}

.image-left {
  float: left;
  width: 25%;
  
  margin-top: 1.5rem;
  margin-right: 1rem;
}

footer {
  font-size: 1rem;
  position: relative;
  bottom: 2rem;
  margin-top: 6rem;
}